<!-- header -->
<header>
	<!-- logo -->
	<a href="#" class="logo">
		<i class="icon icon-logo"></i>
		<span class="logo__inf">Агентство полезных подарков</span>
	</a>
	<!-- menu -->
	<ul class="menu">
		<li class="menu__item is-orange">
			<a href="#">
				<i class="icon icon-friends"></i>
				<span>Друзья</span>
			</a>
		</li>
		<li class="menu__item is-pink">
			<a href="#">
				<i class="icon icon-gift"></i>
				<span>Мои события</span>
			</a>
		</li>
		<li class="menu__item is-blue">
			<a href="#">
				<i class="icon icon-doings"></i>
				<span>Все события</span>
			</a>
		</li>
		<li class="menu__item is-purple">
			<a href="#">
				<i class="icon icon-add"></i>
				<span>Создать события</span>
			</a>
		</li>
	</ul>
</header>